@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
    width:100vw;
    overflow:hidden;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
}

.main {
    height:100vh;
    width:100vw;
}

.content {
    height:100vh;
    width:100vw;
}


.nud {
    max-width: 2rem;
}

.text-center {
    text-align:center;
}

.vertical-center {
    margin:0;
    margin-top:50vh;
    transform: translateY(-50%);
}

.contained {
    max-width: 990px;
    text-align: left;
    margin: 1rem auto 1rem auto;
    padding: 2rem;
}

.contained table {
    margin: 0;
}

.contained ul {
    margin-bottom: 0;
}

.contained-wide {
    max-width: 1300px;
    text-align: left;
    margin: 1rem auto 1rem auto;
    padding: 2rem;
}

.bg-grey {
    background-color: #eaeaea;
}

#config-menu {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

    #config-menu.nav {
        border: 1px solid #DEE2E6;
    }

    #config-menu .nav-item.nav-link {
        border-radius: 0;
    }

        #config-menu .nav-item.nav-link:hover:not(.active) {
            background-color: rgba(222, 226, 230, 0.8);
        }

.card {
    max-width:300px;
}

.card-title {
    font-weight:bold;
}

.total-space {
    display:flex;
    width:100vw;
    height:100vh;
    flex-flow:column;

}

.fill-height {
    flex-grow: 1;
    width:100vw;
    overflow: hidden;
    margin:0;
}

.scoring-menu-column {
    border-right: 1px solid #dee2e6;
    height: 100vh;
    overflow-y: scroll;
    padding: 0;
}

.form-check {
    padding-left: 0;
    margin-bottom:1rem;
}

.form-check-input {
    margin-left: 0;
    position:unset;
}

.form-check-input:not(:first-child) {
    margin-left: 5px;
    position: unset;
}

input[type=number] {
    max-width:8rem;
}

label {
    margin-bottom:0;
}

.card .list-group-item {
    border-right:none;
}

.alert {
    max-width:50vw;
}

.test-results {
    font-family: monospace;
    min-height:300px;
    margin-top:2rem;
    margin-bottom:2rem;
}

#configure-client-tabs.nav {
    border-bottom: 1px solid #DEE2E6;
}

#configure-client-tabs .nav-item.nav-link {
    border-radius: 0;
}

    #configure-client-tabs .nav-item.nav-link:hover:not(.active) {
        background-color: rgba(222, 226, 230, 0.8);
    }

.scoring-menu-column .accordion .card {
    border-left: none;
    border-right: none;
    margin:0;
}

    .scoring-menu-column .accordion .card:first-child {
        border-top: none;
    }

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    max-width:990px;
    margin:auto;
    margin-bottom:30px
}

    .separator::before, .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
    }

    .separator::before {
        margin-right: .25em;
    }

    .separator::after {
        margin-left: .25em;
    }