@page "/beforestarting"

    <div class="vertical-center text-center">
        <h2>Before Starting</h2>

        <p>Read the following before proceeding:</p>

        <div class="contained bg-grey">
            <ul>
                <li>Running this tool within the VM being scored, while optional, will give additional options including installation of the scoring service, vulnerability testing, log clearing, and more.</li>
                <li>If running within the VM, this program should be running with root privileges in under the user account that competitors will use during the competition.</li>
                <li>This program creates the configuration required to score vulns. <b>It does not implement the vulns themselves.</b> Ensure you have already implemented the vulns you wish to score within the VM.</li>
                <li>If you are planning to run this image with the live scoring server, consider starting the server software with debug services enabled and configuring a debug Team UUID. This will allow the configuration tool to automatically send the scoring data to the scoring server when exporting.</li>
            </ul>
        </div>

        <a href="/platformselect" class="btn btn-primary">Continue</a>
    </div>