@page "/"

<div class="vertical-center text-center">
    <h1>SSE Scoring Configuration Tool</h1>
    <p>Welcome to the SSE Scoring Configuration Tool. This application will make it easy to create scored training or competition images using the SSE scoring engine.</p>

    <a href="/beforestarting" class="btn btn-primary">Get Started</a>
</div>