@inherits LayoutComponentBase
@inject IBootstrapCSS BootstrapCSS
@inject NavigationManager NavigationManager

<div class="main">
    <div class="content">
        @Body
    </div>
</div>

@functions {
    private bool bootstrapInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!bootstrapInitialized) {
            await BootstrapCSS.SetBootstrapCSS("cosmo", "4.3.1");
            bootstrapInitialized = true;
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
